*.AppImage
*.tar.bz2
*.tar.gz
LuaJIT-*/
SDL2-*/
appimagetool
brotli-*/
bzip2-*/
cmake/
cmake_install.sh
cmakewrapper.sh
freetype-*/
installdir/
installdir2/
libmodplug-*/
libogg-*/
libpng-*/
libtheora-*/
libvorbis-*/
love2d-*/
mpg123-*/
openal-soft-*/
squashfs-root/
zlib-*/

# ItsyRealm changes
bmashina/
discworld/
itsyscape/
premake-*.zip
premake5/

